

    @media only screen and (max-width: 600px) {
        .cards {
            display: grid;
            align-content: space-between;
            grid-template-columns: auto;
            gap: 20px;
            padding: 10px;
            min-height: 500px;
            width: auto;
            margin-top: 20px;
            }
    }

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .cards {
        display: grid;
        align-content: space-between;
        grid-template-columns: auto auto;
        gap: 20px;
        padding: 10px;
        min-height: 470px;
        width: auto;
        margin-top: 20px;
        }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .cards {
        display: grid;
        align-content: space-between;
        grid-template-columns: auto auto;
        gap: 20px;
        padding: 10px;
        min-height: 470px;
        width: auto;
        margin-top: 20px;
        }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .cards {
        display: grid;
        align-content: space-between;
        grid-template-columns: auto auto auto ;
        gap: 20px;
        padding: 10px;
        min-height: 470px;
        width: auto;
        margin-top: 20px;
        }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .cards {
        display: grid;
        align-content: space-between;
        grid-template-columns: auto auto auto ;
        gap: 20px;
        padding: 10px;
        min-height: 470px;
        width: auto;
        margin-top: 20px;
        }
}

