@media screen and (max-width: 1600px) {
  .box {
    width: 50%;
    margin: 0 20px;
    height: 350px;
    box-sizing: border-box;
    flex-wrap: wrap;
    margin-top: 200px;
  }
  .divforimage {
    /* margin-left: 420px; */
    text-align: right;
  }
  .content {
    text-align: left;
    color: #eeeeee;
    font-family: sans-serif;
    letter-spacing: 1px;
    word-spacing: 2px;
  }
  .containerr {
    background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)),
      url(../images/image4.jpg);
    height: 91.7vh;
    width: 100%;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
}

@media (max-width: 600px) {
  .containerr {
    flex-direction: column;
    height: 900px;
  }
  .box {
    width: 90%;
    margin-top: 0px;
  }
  .image1 {
    margin-left: 0px;
  }
  .divforimage {
    text-align: center;
  }
  div br {
    display: none;
  }
}
