.hr-lines {
  position: relative;
  max-width: 500px;
  margin: auto;
  text-align: center;
  color: "#555555";
  font-family: cursive;
}

.hr-lines:before {
  content: " ";
  height: 2px;
  width: 50px;
  background: #72b626;
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
}

.hr-lines:after {
  content: " ";
  height: 2px;
  width: 50px;
  background: #72b626;
  display: block;
  position: absolute;
  top: 50%;
  right: 0;
}

p {
  text-transform: uppercase;
}
.ParentProfile {
  /* background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)),
    url(../images/image4.jpg); */
  width: 100%;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.box1 {
  width: 50%;
  margin: 0 20px;
  height: 400px;
  box-sizing: border-box;
  flex-wrap: wrap;
}
.box2 {
  width: 50%;
  margin: 0 20px;
  height: 400px;
  box-sizing: border-box;
  flex-wrap: wrap;
}
.box2 {
  background-repeat: no-repeat;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.box21 {
  width: 40%;
  margin: 0 20px;
  height: 400px;
  margin-right: 50px;
  box-sizing: border-box;
  flex-wrap: wrap;
  margin-top: 50px;
}

@media (max-width: 600px) {
  .ParentProfile {
    flex-direction: column;
  }
}
